#wrap {}
#wrap header {
    box-shadow:0 0 10px rgba(0,0,0,0.25);
}
#wrap header .header_contents {
    max-width:1200px; height:64px; margin:0 auto;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
    background-color:yellow;
}
#wrap header .header_contents h1 {}
#wrap header .header_contents h1 a {}
#wrap header .header_contents > nav {}
#wrap header .header_contents > nav a {margin-left:20px;}
#wrap header .header_contents > nav a:hover {font-weight:700;}
#wrap header .header_contents .m_nav {display:none;}
#wrap header .header_contents .m_nav > a {}
#wrap header .header_contents .m_nav > nav {}
#wrap header .header_contents .m_nav > nav a {}
/* -----------------------------------------------------main */
#wrap main {}
/* -----------------------------------------------------main 1행 광고 */
#wrap main #slide_wrap {
    max-width:1200px; overflow:hidden; margin:0 auto; position:relative;
}
#wrap main #slide_wrap .slide_container {
    display:flex; width:max-content;}
    #wrap main #slide_wrap .slide_container .slide {
        max-width:1200px; width:1200px; height:650px;
        background-size:cover;
        background-position:center;
    }
    #wrap main #slide_wrap .slide_container .slide1 {background-image:url(https://images.unsplash.com/photo-1472491235688-bdc81a63246e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);}
    #wrap main #slide_wrap .slide_container .slide2 {background-image:url(https://plus.unsplash.com/premium_photo-1667162417320-122488773f87?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTYxfHwlRUElQjMlQTAlRUMlOTYlOTElRUMlOUQlQjR8ZW58MHx8MHx8fDA%3D);}
    #wrap main #slide_wrap .slide_container .slide3 {background-image:url(https://images.unsplash.com/photo-1519052537078-e6302a4968d4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fCVFQSVCMyVBMCVFQyU5NiU5MSVFQyU5RCVCNHxlbnwwfHwwfHx8MA%3D%3D);}
    #wrap main #slide_wrap .slide_container .slide4 {background-image:url(https://images.unsplash.com/photo-1494256997604-768d1f608cac?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTB8fCVFQSVCMyVBMCVFQyU5NiU5MSVFQyU5RCVCNHxlbnwwfHwwfHx8MA%3D%3D);}
    #wrap main #slide_wrap .slide_container .slide5 {background-image:url(https://images.unsplash.com/photo-1560114928-40f1f1eb26a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fCVFQSVCMyVBMCVFQyU5NiU5MSVFQyU5RCVCNHxlbnwwfHwwfHx8MA%3D%3D);}
    #wrap main #slide_wrap .slide_container .slide6 {background-image:url(https://plus.unsplash.com/premium_photo-1668971283504-ae5f2532efd0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTUzfHwlRUElQjMlQTAlRUMlOTYlOTElRUMlOUQlQjR8ZW58MHx8MHx8fDA%3DD);}
    #wrap main #slide_wrap .slide_container .active {}
    #wrap main #slide_wrap .prev {left:10px;}
    #wrap main #slide_wrap .next {right:10px;}
    #wrap main #slide_wrap .next {}
    #wrap main #slide_wrap .prev,
    #wrap main #slide_wrap .next {
        position:absolute; top:50%;
    }
    #wrap main #slide_wrap .pagenation {
        background-color:aqua;
        position:absolute; bottom:50px; left:0;
        width:100%; text-align:center;
    }
    #wrap main #slide_wrap .pagenation span {}
    #wrap main #slide_wrap .pagenation span .active {}
    /* -----------------------------------------------------main 2행 소개 */
    #wrap main .info {display:flex; flex-flow:row nowrap;
        background-color:pink;
        max-width:1200px; margin:0 auto;
        justify-content:space-between; align-items:center;
        height:270px;;
    }
    #wrap main .info a {
        width:100px; height:100px; text-align:center; line-height:100px;
        border:1px solid #000; border-radius:50px;
    }
    #wrap main .info a:hover {
        width:170px; height:170px; line-height:170px;
        border-radius:85px;
    }
    /* -----------------------------------------------------main 3행 입양 문의 */
    /* 내가 쓴 선택자 */
    #wrap main .inquiry {}
    #wrap main .inquiry h2 {}
    #wrap main .inquiry #adoption_frm {}
    #wrap main .inquiry #adoption_frm #name {}
    #wrap main .inquiry #adoption_frm #name::placeholder {}
    #wrap main .inquiry #adoption_frm #phone {}
    #wrap main .inquiry #adoption_frm #phone::placeholder {}
    #wrap main .inquiry #adoption_frm #content {}
    #wrap main .inquiry #adoption_frm #content::placeholder {}
    #wrap main .inquiry #adoption_frm #inquiry_btn {}
    /* 선생님 선택자 */
    #wrap main .inquiry {}
    #wrap main .inquiry h2 {}
    #wrap main .inquiry #adoption_frm {}
    #wrap main .inquiry #adoption_frm input[name*=n] {}
    #wrap main .inquiry #adoption_frm input[type=text],
    #wrap main .inquiry #adoption_frm input[type=number],
    #wrap main .inquiry #adoption_frm textarea#content {
        background-color:#eee; width:100%;
    }
    #wrap main .inquiry #adoption_frm #inquiry_btn {} /* 뒤에 _btn이 붙기 때문에 굳이 button을 쓸 필요 X */